#About {
	
	display: block;

	.hero {
		height: 37.25rem;
		background: #000 url('../../assets/images/about-hero.jpg');
		background-size: cover;
		background-position: center center;

		.hero-content {
			position: relative;
			top: 50%;
			transform: translateY(-50%);

			h2, h4 {
				text-align: center;
				margin: 0rem 0rem;
				color: white;	
			}

			h4 {
				font-weight: 500;
			}
		}
	}

	a {
		color: black;
	}

	.flex-container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		h4 {
			font-weight: 500;
		}

		&#section-1 {
			width: 100%;
			max-width: 60rem;
			margin: 6rem auto 6rem;

			.flex-item {
				margin: 0.5rem;

				&:first-child {
					flex: 1 0 auto;
					margin-right: 2rem;
				}
			}
		}

		&#section-2 {
			align-items: center;
			

			.text-container {
				margin-right: 6rem;
			}

			img {
				max-width: 28.75rem;
			}
		}

		.flex-item {
			flex: 1 1 auto;

			.text-container {
				// text-align: center;

				h4 {
					margin: 2rem 0 0.75rem;
					font-weight: 500;
				}

				.social {
					margin: 0 0.6rem;
					i {
						font-size: 1.8rem;
						color: black;
					}
				}
			}
		}
	}
}
