$variant-circle-size: 2rem;

.variant {
	width: $variant-circle-size;
	height: $variant-circle-size;
	display: inline-block;
	border-radius: $variant-circle-size;
	margin: 0 0.25rem;
	border: 3px solid white;
	box-shadow: 0 0 0 1px white;

	&.active {
		box-shadow: 0 0 0 1px black;
	}
}