#AddressForm {

	$input-width: 25rem;

	.field {
		display: flex;

		label {
			display: inline-block;
			margin: .4rem auto;
			width: 25rem;

			> span {
				display: inline-block;
				width: 7.3125rem;
				text-align: right;
				margin-right: 0.625rem;
			}
		}
	}

	input {
		$input-width: 25rem;

		width: $input-width;

		&[type="submit"] {
			display: block;
			margin: .4rem auto 0;
			width: 100%;
			max-width: $input-width;
		}

		&.display-none {
			display: none;
		}
	}
}