.size-selector {
	margin: 0 0.8rem;

	h6 {
		margin-bottom: 0.6rem;
		margin-top: 0.8rem;

		&.error-active {
			color: red;
		}


		sup {
			color: red;
		}
	}

	.label-group {
		border: 1px solid transparent;
		display: inline-block;
		border-radius: 0.3rem;

		&.error-active {
			border: 1px solid #ff0000;
		}

		label {

			&:nth-of-type(1) {
				span {
					margin-left: 0;
				}
			}

			&:nth-of-type(5) {
				span {
					margin-right: 0;
				}
			}

			input {
				opacity: 0;
				position: absolute;
				pointer-events: none;

				&:checked {
					+ span {
						background: black;
						color: white;
					}
				}
			}

			$bar-height: 2rem;

			span {
				font-size: 0.75rem;
			    line-height: $bar-height;
			    display: inline-block;
			    width: 2.5rem;
			    height: $bar-height;
			    background: white;
			    border: 1px solid #000;
			    text-align: center;
			    margin: 0 0.25rem;
			    border-radius: 0.25rem;
			}
		}
	}
}