.size-selector {
	margin: 0 0.8rem;

	h6 {
		margin-bottom: 0.6rem;
		margin-top: 0.8rem;
		transition: all ease 0.3s;

		&.error-active {
			color: red;
		}


		sup {
			color: red;
		}
	}

	.label-group {
		display: inline-block;
		border-radius: 0.3rem;

		&.error-active {
			input + span {
				border: 1px solid red;
				color: red;
			}
		}

		label {
			display: inline-block;

			&.disabled {

				span {
					position: relative;
					color: #999;
					border-color: #999;
				}

				&:hover {
					span {

						$top-offset: 2.1rem;

						&:before {
							content: '';
							position: absolute;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 4px 4px 4px;
							border-color: transparent transparent #222 transparent;
							left: 50%;
							transform: translateX(-50%);
							top: $top-offset;
						}

						&:after {
							content: 'Not Available';
							position: absolute;
							display: inline-block;
							background: #222;
							color: white;
							width: 5.4rem;
							top: $top-offset + 0.2rem;
							left: 50%;
							transform: translateX(-50%);
						}
					}
				}
			}

			&:nth-of-type(1) {
				span {
					margin-left: 0;
				}
			}

			&:nth-of-type(5) {
				span {
					margin-right: 0;
				}
			}

			input {
				opacity: 0;
				position: absolute;
				pointer-events: none;

				&:checked {
					+ span {
						background: black;
						color: white;
					}
				}
			}

			$bar-height: 2rem;

			span {
				cursor: pointer;
				font-size: 0.75rem;
			    line-height: $bar-height;
			    display: inline-block;
			    width: 2.5rem;
			    height: $bar-height;
			    background: white;
			    border: 1px solid #000;
			    text-align: center;
			    margin: 0 0.25rem;
			    border-radius: 0.25rem;
			    transition: all ease 0.3s;
			}
		}
	}
}