@import '../../assets/styles/_variables.scss';

header {
	position: sticky;
	top: 0;
	background: white;
	border-bottom: 1px solid #e2e2e2;
	z-index: 400;

	.header-container {
		display: flex;
		padding: 1rem 0.8rem;
		width: 100%;
		max-width: 85.375rem;
		margin: 0 auto;

		#logo {
			flex: 1 0 auto;
		}

		#main-links {
			line-height: 2.7rem;
			margin-right: 0rem;

			@include small {
				margin-right: 1rem;
			}

			a {
				padding: 0.3rem 0.4rem;
				margin: 0 0.5rem;

				&, &:visited, &:active {
					color: black;
					font-family: $font-primary;
					font-weight: 500;
					text-decoration: none;
				}

				&.selected {
					border-bottom: 2px solid #007AFF;
				}
			}
		}

		#cart {
			position: relative;
			display: inline-block;
			height: 2rem;
			width: 2rem;

			&:hover {
				#cart-list {
					display: inline-block;
				}

				&:before {
					display: block;
				}
			}

			&:before {
				display: none;
				content: '';
				position: absolute;
				top: 5px;
				right: 1.9rem;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 30px 200px;
				border-color: transparent transparent transparent transparent;
			}

			i.fa-shopping-cart {
				font-size: 1.25rem;
				left: 50%;
				position: relative;
				top: 50%;
				transform: translateY(-50%) translateX(-50%);
			}

			.shopping-cart-icon-container {
				width: 2rem;
				height: 2rem;

				&[data-count]:after{
					position:absolute;
					right: -20%;
					top: 0%;
					content: attr(data-count);
					font-size: 0.7rem;
					padding: .2em;
					border-radius: 7px;
					line-height: 0.8rem;
					font-weight: bold;
					color: white;
					background:rgba(255,0,0,.85);
					text-align:center;
					min-width: 1em;
				}

				&.display-none {
					&[data-count]:after {
						opacity: 0;
					}
				}
			}

			#cart-list {
				display: none;
				background: white;
				right: 0;
				top: 100%;
				position: absolute;
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.33);
				padding: 0 1.2rem;
				width: 25rem;
				max-height: 31.25rem;
				overflow: auto;

				#cart-header {
					background: white;
					position: sticky;
					top: 0;
					padding-top: 1.5rem;
				}

				#cart-footer {
					background: white;
					position: sticky;
					bottom: 0;
					padding-bottom: 0.8rem;
					padding-top: 0.8rem;

					#checkout-button {
						display: block;
						width: 100%;
						border: 1px solid #000;
						font-weight: bold;
						border-radius: 0.25rem;
						background: black;
						color: white;
					}
				}

				#cart-title {
					font-weight: bold;
					border-bottom: 1px solid #ccc;
					text-align: left;
					padding-bottom: 0.25rem;
				}

				#empty-text {
					padding: 0.25rem 0;
				}

				#cart-items {

					.cart-item {
						display: flex;
						flex-direction: row;
						padding: 0.50rem 0 0.25rem;

						&.border-top {
							border-top: 1px solid #ccc;
						}

						.item-image {
							width: 100px;

							img {
								width: 100%;
								height: auto;
							}
						}

						.item-content {
							padding-left: 1rem;
							flex: 1 0 auto;
							text-align: left;

							.vertical-flex-container {
								display: flex;
								flex-direction: column;
								height: 100%;
								padding-bottom: 0.25rem;

								> .flex-item {
									&:first-child {
										flex: 1 0 auto;
									}
								}

								.horizontal-flex-container {
									display: flex;
									flex-direction: row;

									> .flex-item {
										&:first-child {
											flex: 1 0 auto;
										}
									}
								}
							}

							.item-remove {
								flex: 1 1 auto;
								text-align: right;
								padding-right: 0.25rem;

								button {
									padding: 0;
									text-transform: capitalize;
									background: none;
									border: none;
									outline: none;
									letter-spacing: 0;
									color: #007AFF;

									&:hover {
										text-decoration: underline;
										color: #007AFF;
									}

									&:active {
										text-decoration: underline;
										color: darken(#007AFF, 20%);
										top: 0;
									}
								}
							}
						}

						
					}
				}
			}
		}
	}
}