header {
	position: sticky;
	top: 0;
	margin-bottom: 1.25rem;
	background: white;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.33);

	.header-container {
		display: flex;
		padding: 0.5rem 0.8rem;

		#logo {
			flex: 1 0 auto;
		}

		#cart {
			position: relative;
			display: inline-block;
			height: 2rem;
			width: 2rem;

			&:hover {
				#cart-list {
					display: inline-block;
				}
			}

			// i.fa-shopping-cart {
			// 	font-size: 1.25rem;
			// 	left: 50%;
			// 	position: relative;
			// 	top: 50%;
			// 	transform: translateY(-50%) translateX(-50%);
			// }

			.shopping-cart-icon-container {
				width: 1rem;
				height: 1rem;

				&[data-count]:after{
					position:absolute;
					left: 120%;
					top: -32%;
					content: attr(data-count);
					font-size:40%;
					padding:.2em;
					border-radius: 7px;
					line-height:1em;
					color: white;
					background:rgba(255,0,0,.85);
					text-align:center;
					min-width: 1em;
					//font-weight:bold;
				}

				&.display-none {
					&[data-count]:after {
						opacity: 0;
					}
				}
			}

			#cart-list {
				display: none;
				background: white;
				right: 0;
				top: 100%;
				position: absolute;
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.33);
				padding: 0.625rem;
				width: 400px;
				text-align: center;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: 1.9rem;
					transform: translateY(-100%);
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 0 30px 200px;
					border-color: transparent transparent transparent transparent;
				}
			}
		}
	}
}